@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #ebd3f8;
  --primary: #7a1cac;
  --secondary: #ad49e1;
  --neutral: #2e073f;
}

.font-work-sans {
  font-family: var(--font-work-sans), sans-serif;
}

body {
  background-color: var(--accent);
  font-family: var(--font-work-sans), sans-serif;
  overflow-y: hidden;
}
